<div class="modal-header">
    <h3 class="modal-title">Modal!</h3>
    <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
</div>
<div class="modal-body">
    <form class="form-inline" role="form">
            <div class="form-group">
              <label class="modallb">编码</label>
              <input class="modalip form-control " placeholder="Enter email" type="email">
            </div>
            <div class="form-group">
              <label class="modallb">名称</label>
              <input class="modalip form-control " placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <label class="modallb">配置值</label>
              <input class="modalip form-control " placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <label class="modallb">配置值</label>
              <input class="modalip form-control " placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <label class="modallb">系统类型</label>
              <input class="modalip form-control " placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <label class="modallb">系统类型</label>
              <input class="modalip form-control " placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <label class="modallb">系统类型</label>
              <input class="modalip form-control " placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <label class="modallb">系统类型</label>
              <input class="modalip form-control " placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <label class="modallb">校验类型</label>
              	<div class="modalip" style="float: left;">
		            <select name="account" class="form-control">
		              <option value="option 1">option 1</option>
		              <option value="option 2">option 2</option>
		              <option value="option 3">option 3</option>
		              <option value="option 4">option 4</option>
		            </select>
          		</div>
            </div>  
            <div class="form-group">
              <label class="modallb">校验类型</label>
              	<div class="modalip" style="float: left;">
		            <select name="account" class="form-control">
		              <option value="option 1">option 1</option>
		              <option value="option 2">option 2</option>
		              <option value="option 3">option 3</option>
		              <option value="option 4">option 4</option>
		            </select>
          		</div>
            </div>

    </form>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
